#user-interface {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.container-top {
    display: flex;
    height: calc(100% - 80px);
}

.container-bottom {
    
}

.yappies-selector {
    width: 400px;
    z-index: 10;
}

.yaps-selector {
    height: 50px;
}

.chat {
    width: 100%;
    z-index: 0;
}

.add-yappie-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.add-yappie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}