* {
  /* proměné, do ktrých ukládáme globální barvy */
  --primary-color: #002633;

  --secondary-color: #EFF4F5;

  --tertiary-color: #001218;

  --quaternary-color: #004A63;

  --alert-color: #009ACE;

  color: var(--secondary-color);

  outline: none;
  border: none;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--tertiary-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--tertiary-color) inset !important;
  -webkit-text-fill-color: var(--secondary-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--tertiary-color);
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.block {
  background: color-mix(in srgb, var(--primary-color) 75%, transparent);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

input,
button,
select {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: color-mix(in srgb, var(--tertiary-color) 50%, transparent);
}