@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
* {
  /* proměné, do ktrých ukládáme globální barvy */
  --primary-color: #002633;

  --secondary-color: #EFF4F5;

  --tertiary-color: #001218;

  --quaternary-color: #004A63;

  --alert-color: #009ACE;

  color: var(--secondary-color);

  outline: none;
  border: none;


}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--tertiary-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--tertiary-color) inset !important;
  -webkit-text-fill-color: var(--secondary-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: var(--tertiary-color);
}
.input, button, textarea, select, option{
  font-family: "Inter", sans-serif;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.block {
  background: color-mix(in srgb, var(--primary-color) 75%, transparent);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

input,
button,
select {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background: color-mix(in srgb, var(--tertiary-color) 50%, transparent);
}
label {
  text-align: left;
  width: 100%;
  margin: 0;
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: bold;
}
.heading{
  margin-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bolder;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Stylování posuvníku (thumb) */
::-webkit-scrollbar-thumb {
  background: var(--quaternary-color);
  border-radius: 10px;
}

/* Stylování trati (track) */
::-webkit-scrollbar-track {
  background: var(--primary-color);
  border-radius: 10px;
}

.dropdown{
  z-index: 999;
  position: absolute;
  background: var(--primary-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}